

Kiddie Roster
<br>
Keep track of yo' kids!

<br><br>

<form action="/students" method="POST">
	<input type="text" name="teacher[name]">

	<input type="submit" id="login" value="Log In"> <!-- OR <input type="submit" id="register" value="Register"> -->
</form>