<!-- 

This page encompasses a few actions

 * ability to add new kids
 * shows roster of kids
 * can delete a kid from here
 * shows the teacher's name

-->

<h1> Welcome,  </h1>



<a href=""> Add a Student </a>

<br><br>

OR 

<br><br>

Choose an action for your existing students

<br><br>

